/*************************
/* BASE STYLES
/*************************/

body {
    margin-top: 3rem;
    margin-bottom: 9rem;
}

a {
    text-decoration: none;
    color: white;
}

h2  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 7%;
    margin-bottom: 4rem;
}

h2:nth-child(4), .underline:nth-child(3){
    padding-left: 7%;
}

h3, h4, p{
    margin-left:2.5%;
}

section {
    margin-left:18%;
}

button {
    display: inline;
    margin-left: 90%;
}

/*************************
/* ROOT FONT STYLE
/*************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: rgb(248, 248, 248);
    color: white;
    margin-right: 16em;
}

/*************************
/* BACKGROUNDS
/*************************/

body {
    background: #17191d;
}

.background-black {
    background-color: black;
    border-radius: 1px;
    color: white;
    padding: 0.3% 0.6%;
}

/*************************
/* TEXT DECORATIONS
/*************************/

.underline {
    display: block;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
}

.underline:nth-child(3) {
    margin-left: 7%;
}

.annotation {
    margin-bottom: 2rem;
    font-size: 2rem;
}